<%- include("partials/header"); %>
    <div class="login-box">
        <h1>Password Reset</h1>
        <form action="/auth/resetPassword" method="post" onsubmit="return validatePassword();">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <label for="newPassword">New Password:</label>
            <input type="password" name="newPassword" id="newPassword" required>
            <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        function validatePassword() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>

    <%- include("partials/footer"); %>